<% if logged_in? %>
  <div class="span1 well text-center">
    <div>
      <%= link_to(vote_post_comment_path(comment.post, comment, vote: true), method: 'post') do %>
        <i class="icon-arrow-up"></i>
      <% end %>
    </div>
    <%= comment.total_votes %>
    <div>
      <%= link_to(vote_post_comment_path(comment.post, comment, vote:false), method: 'post') do %>
        <i class="icon-arrow-down"></i>
      <% end %>
    </div>
  </div>
<% end %>
